<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="TestInstaller" Manufacturer="TestCompany" Version="1.0.0.0" UpgradeCode="b1c9d4ae-0815-4f30-ad40-67936a48c3cb" Scope="perMachine">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <MediaTemplate EmbedCab="true"/>

    <Feature Id="Main">
      <ComponentGroupRef Id="ExampleComponents" />
    </Feature>
  </Package>
</Wix>
